
.output {
    max-height: 400px; /* can change this */
    max-width: 900px; /* doesn't seem to have any effect */
    overflow: auto;
    margin-bottom: 2em;
    border-radius: 1em;
    padding: 1em;
  }